<!doctype html>
<html>
  <head>
    <title>File Upload</title>
  </head>
  <body style="background-color:powderblue;">
    <h1>Welcome..Connect Auto Code Generation</h1>
    <br>
    <p>1. Create a TDD <br> 2. Upload it to Google Drive <br>3. Get the downloadable link <br> 4. Paste and Submit <br> 5. Zip file generated </[h6]>
    <p><a href="https://sites.google.com/site/gdocs2direct/" target="_blank">To create downloadable link for google drive click here..</a>
    </p>
    <br>
    <p> File Upload</p>
    <form method="post" action="data1">
      <p><input type="text" name="tdd" required></p>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>

